.imgAuthor {
    max-width: 28%;
    height: 380px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: auto;
}

.author-container {
    max-width: 90%;
}

.author-details {
    position: absolute;
    top: 10%;
    left: 55%;
    transform: translateX(-50%);
    color: white;
}

#edit-author,
#delete-author {
    width: 100px;
}

.btn-adm form {
    display: inline;
    margin-right: 10px;
}

.btn-form {
    margin-bottom: 30px;
}

.author-div {
    margin-top: 100PX;
    display: flex;
    justify-content: center;
}

.card-author-body {
    color: white;
    padding: 10px;
}

.card-author-title {
    font-size: 30px;
}

#delete {
    border-radius: 50%;
    color: red;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10px;
    right: 10px;
}