#index-img {
    width: 100%;
    height: auto;
}

.container-index {
    padding: 10px;
    height: 500px;
    width: auto;
    position: relative;
    left: 35%;

}

#image-index {
    margin-left: 30px;
}

.div-index {
    margin-bottom: 300px;
    margin-top: 150px;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background-color: #5593f1;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #2e63b3;
}