.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card-genres {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
  
  }
  
  .card-genres .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card-genres .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card-genres .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .genre-link {
    text-decoration: none;
    color: inherit;
  }
  
  .card-genres:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  }
  
  .title-white {
    color: white;
    text-decoration: none;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
  }
  
  .titlebooks {
    font-size: 2.5rem;
    color: #fff;
    margin: 40px 0 20px 0;
    text-align: center;
  
  }
  
  .card-title {
    color: #fff;
  }