.navbar {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #73a8f9;
}

.dropdown-menu{
    background-color:  #73a8f9;

}

.dropdown-item:hover{
    background-color: #5597fa;
}


.btn-entrar {
    background-color: #0066FF;
    border: none;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 35px;
    font-size: 20px;
}

.btn-entrar:hover {
    background-color: #004ec2;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    flex-grow: 1; 
}

#userNavItem {
    margin-left: auto;
    display: flex;
    align-items: center; 
}

.img-navbar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.name-navbar{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.hidden-nav{
    color: #73a8f9;
}